# Password only for testing locally
POSTGRES_PASSWORD=password123
# Use `db` when running the app in the container, otherwise use `localhost`
POSTGRES_HOST=db
# Configure Firebase Admin SDKs to connect to the authentication emulator
FIREBASE_AUTH_EMULATOR_HOST="127.0.0.1:9099"
NEXT_PUBLIC_FIREBASE_API_KEY=fake
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=fake
NEXT_PUBLIC_FIREBASE_PROJECT_ID=fake
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=fake
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=fake
NEXT_PUBLIC_FIREBASE_APP_ID=fake
